* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

h1 {
    color: #ffffff;
}

p {
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

span {
    color: #d99841;
}

.button {
    padding: 10px 15px;
    background-color: #d99841;
    color: black;
    border: 0px;
    font-size: 18px;
    font-weight: 600;
}

.header {
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    flex: 1;
}

.left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.left p {
    text-align: center;
}

.middle ul {
    display: flex;
    gap: 30px;
}

.right {
    display: flex;
    gap: 30px;
    align-items: center;
}

.hero-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0f4c47;
}

.hero-image {
    width: 600px;
    padding: 0;
    border: 10px dotted #ffffff;
    margin: 50px 0px;
    border-radius: 48px;
    margin-right: 60px;
}

.hero-text {
    margin-left: 70px;
}

.hero-head {
    font-size: 58px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #ffffff;
}

.hero-para {
    font-size: 24px;
    margin-top: 10px;
    font-weight: 500;
    color: #ffffff;
}

.hero-cta {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 15px;
}

.cta-button {
    padding: 10px 15px;
    background-color: #d99841;
    color: black;
    border: 0px;
    font-size: 18px;
    font-weight: 600;
}

.cta-para {
    border: 2px solid #d99841;
    padding: 9px 14px;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
}